In [4]:
from db import dbQuery

In [5]:
# Khởi tạo dbQuery object
dbquery = dbQuery()

In [20]:
# get select method()

# select method
print('Select method test')
print(dbquery.select(['ID']).where('ID', 1).from_table('students.txt').get())
print(dbquery.select(['ID', 'Name']).where('ID', 1).from_table('students.txt').get())
print(dbquery.select(['ID', 'Name', 'Birthday']).where('ID', 1).from_table('students.txt').get())
print(dbquery.select(['ID', 'Name', 'Birthday', 'Phone_Number']).where('ID', 1).from_table('students.txt').get())
print('\n')

# where method
print('Where method test')
print(dbquery.select(['ID', 'Name', 'Birthday', 'Phone_Number']).where('ID', 1).from_table('students.txt').get())
print(dbquery.select(['ID', 'Name', 'Birthday', 'Phone_Number']).where('ID', 2).from_table('students.txt').get())
print(dbquery.select(['ID', 'Name', 'Birthday', 'Phone_Number']).where('ID', 3).from_table('students.txt').get())
print(dbquery.select(['ID', 'Name', 'Birthday', 'Phone_Number']).where('ID', 4).from_table('students.txt').get())
print('\n')

# from_table method
print('From method test')
print('From table students_data.txt')
print(dbquery.select(['ID', 'Name', 'Birthday', 'Phone_Number']).where('ID', '01').from_table('students_data.txt').get())
print('\n')

# insert method
print('From method test')
dbquery.insert(table_name='students.txt', data=[5, "Linh", "26062001", "127"])
print('Done!')
print('\n')

# update method
print('Update method test')
dbquery.where(column_name='ID', value=2).update(table_name='students.txt', data=["2", "Dat", "24122000", "546"])
print('Update with ID done!')
dbquery.where(column_name='Name', value='Ha').update(table_name='students.txt', data=["3", "Hai", "01102001", "126"])
print('Update with Name done!')
dbquery.where(column_name='Birthday', value='01102001').update(table_name='students.txt', data=["3", "Ha", "01102001", "126"])
print('Update with Birthday done!')
dbquery.where(column_name='Phone_Number', value='123').update(table_name='students.txt', data=["1", "Duc", "01102001", "425"])
print('Update with Phone_Number done!')
print('\n')

# detele method
print('Detele method test')
dbquery.where(column_name='ID', value=1).delete('students.txt')
print('Detele with ID done!')
dbquery.where(column_name='Name', value='Ha').delete('students.txt')
print('Detele with Name done!')
dbquery.where(column_name='Birthday', value='01102001').delete('students.txt')
print('Detele with Birthday done!')
dbquery.where(column_name='Phone_Number', value='123').delete('students.txt')
print('Detele with Phone_Number done!')
print('\n')

Select method test
[['1']]
[['1', 'Duc']]
[['1', 'Duc', '15072000']]
[['1', 'Duc', '15072000', '123']]


Where method test
[['1', 'Duc', '15072000', '123']]
[['2', 'Dat', '24122000', '124']]
[['3', 'Ha', '01102001', '125']]
[['4', 'Dong', '19062001', '126']]


From method test
From table students_data.txt
[['01', 'UUXAIO', '10/06', '8003707']]